body {
    background-color: rgb(14, 17, 23);
}

h1 {
    color: rgb(250, 250, 250);
}

h2 {
    color: rgb(46, 154, 255);
}

p {
    color: rgb(250, 250, 250);
}

.status {
    color: rgba(250, 250, 250, 0.6);
}

a {
    color: rgb(46, 154, 255);
}

a:visited {
    color: rgb(46, 154, 255);
}