body {
    display: block !important;
    margin: 5em;
    font-family: "Source Sans Pro", sans-serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.1em;
}

p {
    font-size: 1.1em;
    margin: 0 0 1.5em 0;
}

a {
    text-decoration: none;
}